{% extends '::base.html.twig' %}

{% block content %}
<div class="page-header">
    <h2>How It Works? <small>It's pretty simple.</small></h2>
</div>

<h3>Choose app name and other settings</h3>

<p>Pick an application name, for example <strong>mycoolapp</strong>, where you want your app to deployed to in terms of geo location and click Submit (you can change all the other settings later).</p>

<p>Your app is going to be available at <code>http://mycoolapp.cloudapp.net/</code>.</p>

<h3>Wait for the service to be initialized</h3>

<p>It's going to take around 15 minutes for the app to be initialized and become live, so give it some time and come back after for example a short walk in a park. Once it's live there is no more waiting ever to be experienced.</p>

<p>If you have chosen to push code directly, download the <em>deploy.php</em> script and run it from the root of your project. If not, code is automatically going to be pulled from the Git repository specified.</p>

<h3>See it running live</h3>

<p>Go to <code>http://mycoolapp.cloudapp.net/</code> and see it running.</p>

<p>You can also configure your app to use a provided database.</p>

<h3>Go to production</h3>

<p>Once you are certain that it works, you can switch to production mode to make sure no errors are displayed to the user.</p>

{% endblock %}
