{% extends '::base.html.twig' %}

{% block content %}
<div class="page-header">
    <h1>Azure+</h1>
</div>

<div class="row">
  <div class="span6">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam at nulla metus. Aliquam sit amet augue felis, eu vulputate leo. Aenean dolor mi, sagittis vitae blandit et, lacinia quis massa. Mauris mattis est non tortor cursus dictum. Sed vitae ipsum sapien. Etiam non turpis leo, et consectetur nunc. Duis vel quam sed magna feugiat semper. Maecenas tristique ultrices eros sit amet dignissim. Duis vitae tincidunt mi. Praesent pellentesque congue velit, sit amet viverra felis facilisis euismod. Vivamus aliquet velit eu libero vestibulum nec euismod lorem sollicitudin. Praesent id tortor odio, ac gravida sem. Aenean vehicula convallis nibh sed tincidunt. Mauris.</p>
  </div>
  <div class="span8">
    <ul class="media-grid">
        <li>
            <a href="{{ path('CloudBundle_manage') }}">
                <img class="thumbnail" src="{{ asset('bundles/cloud/images/deploying.png') }}" alt="">
            </a>
        </li>
    </ul>

    <a href="{{ path('CloudBundle_new_app') }}" class="btn large primary">Deploy an app!</a>
  </div>
</div>
{% endblock %}