{% extends '::base.html.twig' %}

{% block content %}
<div class="page-header">
    <h1>Azure+ <small>PHP Platform as a service (PaaS)</small></h1>
</div>

<div class="row">
  <div class="span7">
    <p><a href="http://en.wikipedia.org/wiki/Azure_Services_Platform" target="_blank">Azure</a> done right, this time for PHP applications. We know it's a Microsoft cloud service, but...</p>
    <p>This is a platform as a service, so you won't even notice that it is running on top of Windows. You can focus on building your app and we'll make sure it works and scales.</p>
    <p>If you have tried to deploy anything to Azure you'll know that it takes 15 or more minutes, which is unacceptable! Deploy code in seconds, not minutes. Azure+ can pull the code from your Git or SVN repository, but if you want you can push code directly. That's one of the things our API can handle, there is plenty more.</p>
  </div>
  <div class="span7">
    <ul class="media-grid">
        <li>
            <a href="{{ path('CloudBundle_manage') }}">
                <img class="thumbnail" src="{{ asset('bundles/cloud/images/deploying.png') }}" alt="">
            </a>
        </li>
    </ul>
  </div>
</div>
{% endblock %}