{% extends '::base.html.twig' %}

{% block content %}
<div class="page-header">
    <h2>ToDo <small>Upcoming features and fixes</small></h2>
</div>

<h4>Core</h4>
<ul>
    <li>Auto-scaling</li>
    <li>Deploying the same app to multiple data-centers</li>
    <li>Create an APP automatically (Drupal, Wordpress etc.)</li>
    <li>Hide <code>.cloudapp.net</code>, use a custom DNS server</li>
</ul>

<h4>PHP</h4>
<ul>
    <li>Custom PHP configuration</li>
    <li>WinCache act as APC</li>
</ul>

<h4>Deploying</h4>
<ul>
    <li>SVN support</li>
</ul>

<h4>Databases</h4>
<ul>
    <li>Regional SQL Azure selection</li>
    <li>MySQL support</li>
</ul>

<h4>Business</h4>
<ul>
    <li>All of the above</li>
    <li>...</li>
    <li>Profit!</li>
</ul>

{% endblock %}
